@tailwind base;
@tailwind components;
@tailwind utilities;

.bubble-1 {
  @apply fixed -top-20 -left-20 w-64 h-64 bg-orange-200 rounded-full opacity-30;
}

.bubble-2 {
  @apply fixed -bottom-32 -right-32 w-96 h-96 bg-orange-200 rounded-full opacity-30;
}

.bubble-3 {
  @apply fixed top-1/4 right-10 w-32 h-32 bg-orange-200 rounded-full opacity-20;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


